<!DOCTYPE html>
<html>
<head>
    <title>Experience Letter</title>
</head>
<body>
    <h1>Experience Letter</h1>
    <p>To Whom It May Concern,</p>
    <p>This is to certify that <%= employee.firstname %> <%= employee.lastname %> has worked at our company from <%= employee.startDate %> to <%= employee.endDate %> as a <%= employee.position %>.</p>
    <p>Best regards,<br>Company Name</p>
</body>
</html>
